@model IEnumerable<website2.Models.KhachHang>

@{
    ViewBag.Title = "DanhSach";
    Layout = "~/Views/Shared/LayoutUser.cshtml";
}

<div class="container" style="margin: 100px 0px">
    <div class="row">
        <div class="col-md-12">
            <h3>Danh sách khách hàng</h3>
            <p>
                <a href="~/KhachHang/ThemMoi">Thêm mới</a>
            </p>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.TenKhachHang)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SoDienThoai)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DiaChi)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TenKhachHang)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SoDienThoai)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DiaChi)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "CapNhat", new { id = item.ID }) |
                            
                            @Html.ActionLink("Delete", "Xoa", new { id = item.ID })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>


